/* Restaurant Page CSS stylesheet */

@font-face {
    font-family: 'Ysabeau Office';
    src: 
        url('./YsabeauOffice-Regular.woff2') format('woff2'),
        url('./YsabeauOffice-Regular.woff') format('woff');
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    /* border: 1px solid blue; */
    transition: 0.2s all;
}

ul {
    list-style-type: none;
}

button {
    background: none;
    border: none;
    
    font-family: 'Ysabeau Office', sans-serif;
    font-size: 1rem;
}

button.active-section {
    font-weight: bolder;
    font-size: 1.3rem;
}

body {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10rem 1fr;

    background-color: rgba(248, 237, 211, 0.418);
    font-family: 'Ysabeau Office', sans-serif;
    font-size: 1rem;
}

header {
    display: flex;
    flex-flow: column wrap;
}

#logo-wrapper {
    text-align: center;
    padding-top: 0.75rem;
    padding-bottom: 0.25rem;
}

#omakase-logo {
    width: 18rem;
}

#nav {
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 0.25rem;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#socials-wrapper {  
    display: flex;
    justify-content: center;
    padding: 0.25rem;
    gap: 1rem;
    border-bottom: 1px solid black;
}

#socials-wrapper a {
    height: 1.5rem;
}

#facebook-icon, #instagram-icon {
    width: 1.5rem;
}

#about-wrapper, #menu-wrapper, #contact-wrapper {
    padding: 0.5rem;
}

#about-wrapper p {
    margin-top: 1rem;
}

#menu-wrapper li {
    margin-top: 1rem;
}

#contact-wrapper #location-card, 
#contact-wrapper #contact-me-card {
    margin-top: 1rem;
}

#contact-wrapper li {
    margin-left: 0.5rem;
}

#contact-wrapper li {
    /* margin-bottom: 0.3rem; */
}

#contact-wrapper li:first-child {
    margin-left: 0;
}

#contact-wrapper h4 {
    margin-bottom: 0.25rem;
}

@media only screen and (min-width: 1000px) {
    header {
        flex-direction: row;
        border-bottom: 1px solid black;
    }

    #logo-wrapper {
        text-align: left;
        padding: 0.5rem;
    }
    
    #nav {
        flex-direction: row;
        flex: 1;
        gap: 2rem;
        border: none;
    }

    #socials-wrapper {
        align-items: center;
        justify-content: right;
        padding: 0.5rem;
        width: 18rem;
        border: none;
    }
}